{% extends "main/base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/add_change_card_theme-style.css' %}">
{% endblock %}
{% block content %}
<form action="{% url 'main:add_card' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="theme" value="{{theme}}">
    <div class="flex_wrapp">
        <div class="upload-container">
            {{form.image}}
            <label for="id_image">
                <div class="image_place">
                    <img id="upload-image" src="{% static 'img/file_input.png' %}" alt="">
                </div>
            </label>
        </div>
        <div class="title">
            {{form.title}}
                <div class="is_private">
                    <span>Сделать карточку приватной? {{form.is_private}}</span>
                </div>
        </div>
    </div>
    {{form.content}}
    <button TYPE="submit">Добавить карточку</button>
</form>
{% endblock %}