{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    {% endblock %}
	<link rel="stylesheet" href="{% static 'css/base_style.css' %}">
	<title>MINDKEEPER</title>
</head>
<body>
	<div class="header">
		<div class=title><a href="{% url 'main:index' %}">MINDKEPEER</a></div>
		<div class="nav">
			{% if request.user.is_authenticated %}
				<div class="nav__item"><a href="#">профиль</a></div>
				<div class="nav__item"><a href="{% url 'users:logout' %}">выйти</a></div>
				<div class="nav__item"><a href="{% url 'main:storage' %}">моя картотека</a></div>
				<div class="nav__item"><a href="#">глобальная картотека</a></div>
			{% else %}
				<div class="nav__item"><a href="{% url 'users:login' %}">войти</a></div>
				<div class="nav__item"><a href="{% url 'users:reg' %}">зарегистрироваться</a></div>
				<div class="nav__item"><a href="#">глобальная картотека</a></div>
			{% endif %}
		</div>
	</div>
    {% block content %}
    {% endblock %}
</body>
</html>