{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div>
        {{message}}
    </div>
    <div>
        {{card.title}}
    </div>
    <div>
        {{card.content|safe}}
    </div>
    <div>
        <div id="likes">{{card.likes}}</div>
        <div id="like_trigger"> like
            <a href="{% url 'main:like_card' card.pk %}"></a>
        </div>
    </div>
    <div>
        <span>Отсавить коментарий</span>
        <form action="{% url 'main:add_comment' %}" method="post">
            {% csrf_token %}
            <textarea name="content"></textarea>
            <input type="hidden" name="card" value="{{card.pk}}">
            <button type="submit">Оставить</button>
        </form>
        <div>
            Комментарии:
            {% for comment in card.comments %}
            <div>
                {% if comment.user == request.user %}
                <a href="{% url 'main:del_comment_from_card' comment.pk %}">УДАЛИТЬ</a>
                <a href="">РЕДАКТИРОВАТЬ</a>
                {% endif %}
                {{comment.content}}
            </div>
            {% endfor %}
        </div>
    </div>
<script src="{% static 'js/like_ajax.js' %}"></script>
{% endblock %}

