{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <a id="url" href="{% url 'main:add_comment_to_card_comment' %}"></a>
    <div>
        {{message}}
    </div>
    <div>
        {{card.title}}
    </div>
    <div>
        {{card.content|safe}}
    </div>
    <div>
        <div id="likes">{{card.likes}}</div>
        <div id="like_trigger"> like
            <a href="{% url 'main:like_card' card.pk %}"></a>
        </div>
    </div>
    <div>
        <span>Отсавить коментарий</span>
        <form id="add_comment" action="{% url 'main:add_comment_to_card' %}" method="post">
            {% csrf_token %}
            <textarea name="content"></textarea>
            <input type="hidden" name="card" value="{{card.pk}}">
            <button type="submit">Оставить</button>
        </form>
        <div>
            Комментарии:
            {% for comment in card.comments %}
                <div id="comment">
                    {% if comment.user == request.user %}
                    <a href="{% url 'main:del_comment_from_card' comment.pk %}">УДАЛИТЬ</a>
                    <a href="">РЕДАКТИРОВАТЬ</a>
                    {% endif %}
                    {{comment.content}}
                    <div id="answer_trigger">
                        <input type="hidden" name="comment_pk" value="{{comment.pk}}" >
                        Ответить
                    </div>
                    <div id="answer_block"></div>
                    {{comment.get_sub_comments}}
                </div>
            {% endfor %}
        </div>
    </div>
<script src="{% static 'js/like_ajax.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}

