{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div>
        {{message}}
    </div>
    <div>
        {{card.title}}
    </div>
    <div>
        {{card.content}}
    </div>
    <div>
        {% if card.image %}
            <img src="{{card.image.url}}" alt="">
        {% endif %}
    </div>
    <div>
        <div id="test_output">{{card.likes}}</div>
        <div id="like_card_trigger"> like
            <a href="{% url 'main:card_like' card.pk %}"></a>
        </div>
    </div>
<script src="{% static 'js/card_like.js' %}"></script>
{% endblock %}

