{% extends "main/base.html" %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/catalog_style.css' %}">
{% endblock %}
{% block content %}
{% if message %}
    <h1>{{message}}</h1>
{% else %}
    <div class="container">
        {% if father_theme %}
            <div class="father_theme">
                {{father_theme.title}}
            </div>
        {% endif %}
        <div class="label">
            Темы:
        </div>
            <ul class="catalog_place">
                {% for theme in themes %}
                    <li class="wrapper">
                    <a href="{% url 'main:open_theme' theme.pk %}">
                    <div class="card">
                        <object>
                            <a href="{% url 'main:del_theme' theme.pk %}" class="cross	">X</a>
                        </object>
                        {% if theme.image %}
                            <div class="photo">
                                <img src="{{theme.image.url}}" alt="">
                            </div>
                        {% else %}
                            <div class="photo">
                                <img src="" alt="">
                            </div>
                        {% endif %}
                        <p class="object_title">{{theme.title}}</p>
                    </div>
                    </a>
                    </li>
                {% endfor %}
                <li class="wrapper">
                    {% if father_theme %}
                        <a href="{% url 'main:add_theme_form' father_theme.pk %}">
                    {% else %}
                         <a href="{% url 'main:add_theme_form' %}">
                    {% endif %}
                    <div class="card">
                        <div class="photo">
                            <img src="{% static 'img/plus.jpg' %}" alt="">
                        </div>
                        <p class="object_title">Новая тема</p>
                    </div>
                    </a>
                    </li>
            </ul>
    </div>
    <div class="container">
        <div class="label">
            Карточки:
        </div>
        <ul class="catalog_place">
            {% for card in cards %}
                <li class="wrapper">
                    <a href="{% url 'main:open_card' card.pk %}">
                    <div class="card">
                        <object>
                            <a href="{% url 'main:del_card' card.pk %}" class="cross">X</a>
                        </object>
                        {% if card.image %}
                            <div class="photo">
                                <img src="{{ card.image.url }}" alt="">
                            </div>
                        {% else %}
                            <div class="photo">
                                <img src="#" alt="">
                            </div>
                        {% endif %}
                        <p class="object_title">{{card.title}}</p>
                    </div>
                    </a>
                </li>
            {% endfor %}
            <li class="wrapper">
                    {% if father_theme %}
                        <a href="{% url 'main:add_card_form' father_theme.pk %}">
                    {% else %}
                         <a href="{% url 'main:add_card_form' %}">
                    {% endif %}
                    <div class="card">
                        <div class="photo">
                            <img src="{% static 'img/plus.jpg' %}" alt="">
                        </div>
                        <p class="object_title">Новая карточка</p>
                    </div>
                    </a>
            </li>
        </ul>
    </div>

{% endif %}
{% endblock %}