{% extends "main/base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/catalog_style.css' %}">
{% endblock %}
{% block content %}
<a id="add_answer_url" href="{% url 'main:add_comment_to_theme_comment' %}"></a>
<a id="search_url" href="{% url 'main:local_search_ajax' %}"></a>
<input id="is_theme" type="hidden" value="true">

{% if request_access_link %}
    <div id="message">
        У вас нет доступа,
        <a href="{{request_access_link}}">запросить</a>
    </div>
{% else %}
<div class="container">
    {% if father_theme %}
    {% if father_theme.sub_theme_to %}
    <div>
        <a href="{% url 'main:open_theme' father_theme.sub_theme_to.pk %}"><- {{father_theme.sub_theme_to.title}}</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'main:storage'%}"><- хранилище</a>
    </div>
    {% endif %}
    <div class="father_theme">
        {{father_theme.title}}
    </div>
    <div id="likes">
        {{father_theme.likes}}
    </div>
    <div id="like_trigger"> like
        <a href="{% url 'main:like_theme' father_theme.pk %}"></a>
    </div>
    {% else %}
    <div>
        <form action="" method='get'>
            <input class="input_query" id="input_query" type="text" name=query>
        </form>
    </div>
    {% endif %}
    <div id="theme_catalog">
        {% if themes %}
        <div class="label">
            Темы:
        </div>
        {% endif %}
        <ul class="catalog_place">
            {% for theme in themes %}
            {% if theme.user == request.user %}
            <li class="wrapper">
                <div id="{{theme.pk}}" class="card">
                    <object>
                        <div id="del_obj">
                            X
                            <a href="{% url 'main:del_theme' theme.pk %}"></a>
                        </div>
                    </object>
                    <object>
                        <div id="update_obj">
                            @
                            <a href="{% url 'main:edit_theme' theme.pk %}"></a>
                        </div>
                    </object>
                    <a href="{% url 'main:open_theme' theme.pk %}">
                        {% if theme.image %}
                        <div class="photo">
                            <img src="{{theme.image.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="photo">
                            <img src="" alt="">
                        </div>
                        {% endif %}
                        <p class="object_title">{{theme.title}}</p>
                        <span class="views">{{theme.views}}</span>
                        <span class="likes">{{theme.likes}}</span>
                        <span class="count_comments">{{theme.count_comments}}</span>
                </div>
                </a>
            </li>
            {% else %}
            <li class="wrapper">
                <a href="{% url 'main:open_theme' theme.pk %}">
                    <div id="{{theme.pk}}" class="card">
                        {% if theme.image %}
                        <div class="photo">
                            <img src="{{theme.image.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="photo">
                            <img src="" alt="">
                        </div>
                        {% endif %}
                        <p class="object_title">{{theme.title}}</p>
                        <span class="views">{{theme.views}}</span>
                        <span class="likes">{{theme.likes}}</span>
                        <span class="count_comments">{{theme.count_comments}}</span>
                    </div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="wrapper">
                {% if father_theme %}
                {% if request.user == father_theme.user %}
                <a href="{% url 'main:add_theme_form' father_theme.pk %}">
                    <div class="card">
                        <div class="photo">
                            <img src="{% static 'img/plus.jpg' %}" alt="">
                        </div>
                        <p class="object_title">Новая тема</p>
                    </div>
                </a>
            </li>
            {% endif %}
            {% else %}
            <a href="{% url 'main:add_theme_form' %}">
                <div class="card">
                    <div class="photo">
                        <img src="{% static 'img/plus.jpg' %}" alt="">
                    </div>
                    <p class="object_title">Новая тема</p>
                </div>
            </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container">
    <div id="card_catalog">
        {% if cards %}
        <div class="label">
            Карточки:
        </div>
        {% endif %}
        <ul class="catalog_place">
            {% for card in cards %}
            {% if card.user == request.user %}
            <li class="wrapper">
                <div id="{{card.pk}}" class="card">
                    <object>
                        <div id="del_obj">
                            X
                            <a href="{% url 'main:del_card' card.pk %}"></a>
                        </div>
                    </object>
                    <object>
                        <div id="update_obj">
                            @
                            <a href="{% url 'main:edit_card' card.pk %}"></a>
                        </div>
                    </object>
                    <a href="{% url 'main:open_card' card.pk %}">
                        {% if card.image %}
                        <div class="photo">
                            <img src="{{ card.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="photo">
                            <img src="#" alt="">
                        </div>
                        {% endif %}
                        <p class="object_title">{{card.title}}</p>
                        <span class="views">{{card.views}}</span>
                        <span class="likes">{{card.likes}}</span>
                        <span class="count_comments">{{card.count_comments}}</span>
                </div>
                </a>
            </li>
            {% else %}
            <li class="wrapper">
                <a href="{% url 'main:open_card' card.pk %}">
                    <div id="{{card.pk}}" class="card">
                        {% if card.image %}
                        <div class="photo">
                            <img src="{{ card.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="photo">
                            <img src="#" alt="">
                        </div>
                        {% endif %}
                        <p class="object_title">{{card.title}}</p>
                        <span class="views">{{card.views}}</span>
                        <span class="likes">{{card.likes}}</span>
                        <span class="count_comments">{{card.count_comments}}</span>
                    </div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="wrapper">
                {% if father_theme %}
                {% if request.user == father_theme.user %}
                <a href="{% url 'main:add_card_form' father_theme.pk %}">

                    <div class="card">
                        <div class="photo">
                            <img src="{% static 'img/plus.jpg' %}" alt="">
                        </div>
                        <p class="object_title">Новая карточка</p>
                    </div>
                </a>
                {% endif %}
                {% else %}
                <a href="{% url 'main:add_card_form' %}">
                    <div class="card">
                        <div class="photo">
                            <img src="{% static 'img/plus.jpg' %}" alt="">
                        </div>
                        <p class="object_title">Новая карточка</p>
                    </div>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% if father_theme %}
<div class="comment_block">
    <div>Отсавить коментарий</div>
    <form id="add_comment" action="{% url 'main:add_comment_to_theme' %}" method="post">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <input type="hidden" name="theme" value="{{father_theme.pk}}">
        <button type="submit">Оставить</button>
    </form>
    <div>Комментарии:</div>
    <div class="comments">
        {% for comment in father_theme.comments %}

        {% if comment.sub_comment_to %}
        <div id="comment_{{comment.pk}}" class="comment">
            <div>
                {% if comment.user == request.user %}
                <div>
                    <div id="del_comment">
                        x
                        <a href="{% url 'main:del_comment_from_theme' comment.pk %}"></a>
                    </div>
                    <div id="update_comment">
                        @
                        <a href="{% url  'main:edit_theme_comment' comment.pk %}"></a>
                    </div>
                </div>
                {% elif comment.obj.user == request.user %}
                <div>
                    <div id="del_comment">
                        x
                        <a href="{% url 'main:del_comment_from_theme' comment.pk %}"></a>
                    </div>
                </div>
                {% endif %}
                <div><a href="{% url 'users:profile' comment.user.pk %}">{{comment.user}}</a></div>
                <div>Ответ на <a href="#comment_{{comment.sub_comment_to.pk}}">коментарий</a></div>
                Дорогой, <a href="{% url 'users:profile' comment.sub_comment_to.user.pk %}">{{comment.sub_comment_to.user}}</a>
                <span class="content">{{comment.content}}</span>
            </div>
            <div class="answer_trigger">
                Ответить
            </div>
        </div>
        {% else %}
        <div id="comment_{{comment.pk}}" class="comment">
            <div>
                {% if comment.user == request.user %}
                <div>
                    <div id="del_comment">
                        x
                        <a href="{% url 'main:del_comment_from_theme' comment.pk %}"></a>
                    </div>
                    <div id="update_comment">
                        @
                        <a href="{% url  'main:edit_theme_comment' comment.pk %}"></a>
                    </div>
                </div>
                {% elif comment.obj.user == request.user %}
                <div>
                    <div id="del_comment">
                        x
                        <a href="{% url 'main:del_comment_from_theme' comment.pk %}"></a>
                    </div>
                </div>
                {% endif %}
                <div><a href="{% url 'users:profile' comment.user.pk %}">{{comment.user}}</a></div>
                <span class="content">{{comment.content}}</span>
            </div>
            <div class="answer_trigger">
                Ответить
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endif %}
{% if father_theme %}
<script src="{% static 'js/like_ajax.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% else %}

<script src="{% static 'js/search_script.js' %}"></script>

{% endif %}
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="{% static 'js/ajax_del_theme_card.js' %}"></script>
<script src="{% static 'js/csrf_token.js' %}"></script>
{% endif %}
{% endblock %}