{% extends "main/base.html" %}
{% block content %}

{% if themes %}
    <div>
        {% for theme in themes %}
            <div><a href="{% url 'main:open_theme' theme.pk %}">{{theme.title}}</a></div>
        {% endfor %}
    </div>
{% else %}
    <div>
        {% if request.user.is_authenticated %}
        <span>Увас еще нету тем <a href="{% url 'main:add_theme_form' %}">СОЗДАТЬ?)</a></span>
        {% else %}
        <span>Увас еще нету тем <a href="{% url 'users:login' %}">СОЗДАТЬ?)</a></span>
        {% endif %}
    </div>
{% endif %}
{% endblock %}