{% extends "main/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}
{% block content %}
<div class="container">
		<div class="storage-preview">
            {% if super_themes %}
                <div class="storage__link"><a href="{% url 'main:storage' %}">ВАША КАРТОТЕКА</a></div>
                {% for super_theme in super_themes %}
                    <div class="storage-preview__super_theme">
                        <a href="{% url 'main:open_theme' super_theme.pk %}">{{super_theme}}..</a>
                        {% if super_theme.get_sub_themes %}
                            {% for sub_theme in super_theme.get_sub_themes %}
                                <div class="storage-preview__super_theme__item">
                                    <a href="{% url 'main:open_theme' sub_theme.pk %}">{{sub_theme}}..</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if super_theme.get_cards %}
                            {% for card in super_theme.get_cards %}
                                <div class="storage-preview__super_theme__item">
                                    <a href="{% url 'main:open_card' card.pk %}">{{card.title}}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% for card in super_cards %}
                        <div class="storage-preview__super_theme">
                            <a href="{% url 'main:open_card' card.pk %}">{{card.title}}</a>
                        </div>
                {% endfor %}
            {% else %}
                <div class="storage__link"><a href="{% url 'main:add_theme_form' %}">СОЗДАТЬ ТЕМУ</a></div>
            {% endif %}
        </div>
</div>
{% endblock %}