.summernote-div{
    margin-top:2vw;
    text-align: center;
}

#id_content_iframe{

    width:80vw;

}

.title{

    text-align: center;


}
.title input {

    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    padding-left: 8vw;
    padding-right: 8vw;
    font-size: 2vw;
    text-align: center;

}

.image_place{

    width: 14vw;
    height: 14vw;
    margin-right: 2vw;

}

#upload-image{

     object-fit: cover;
     user-select: none;
     width:  100%;
     height:  100%;

}

.upload-container label {


    font-weight: bold;

}

.upload-container label:hover {

     cursor: pointer;
     text-decoration: underline;

}

.upload-container div {
     position: relative;
     z-index: 10;
}

.upload-container input[type=file] {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     position: absolute;
     z-index: -10;
}


.flex_wrapp{

    margin-top: 2vw;
    padding: 0 10vw 0 10vw ;
    align-items: center;
    justify-content: center  ;
    display: flex;

}
.flex_wrapp:nth-child(1) {

    margin-left: 6vw;

}

.profile_image input[type=file]{

     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     position: absolute;
     z-index: -10;

}
.is_private{

    font-size: 2vw;

}
button{

    display: block;
    margin: 0 auto;
    margin-top:2vw;
    background-color: black;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    border-radius: 2vw;

}