.header{

    background-color: black;
    height: 8vw;
    border-radius: 2vw;

}
body{

    background-color:#cbc7c1;

}
.title {

	font-size: 4vw;
	text-align: center;
	vertical-align: middle;

}

.title a {
	color:white;
	text-decoration: none;
}

.nav{

	color:white;
	display: flex;
	align-items: center;
	justify-content: center;

}
.nav__item:last-child {

	margin-right: 0px;

}
.nav__item{

	margin-right: calc(2vw + 2vh);
	font-size: 2vw;

}
.nav__item a {

	color:white;
	text-decoration: none;

}

@media only screen and (max-device-width:480px) {
	.nav__item {
		font-size: 2.6vw;
	}
}

.views{

    color:white;

}

.likes {

    color:white

}