.container{

	margin-top: 2vw;

}
.storage-preview{

	color:white;
	background-color: #353535;
	padding: 4vw;
	display: inline-block;
	border-radius: 2vw;

}

.storage-preview a {

	text-decoration: none;
	color:white;

}

.storage__link{

    font-size:1.8vw;
	margin-bottom: 0.6vw;

}

.storage-preview__super_theme{

    font-size: 1.8vw;
	margin-left: 2.8vw;
	margin-bottom: 0.6vw;

}

.storage-preview__super_theme__item{

    font-size: 1.4vw;
	margin-left: 2vw;
	margin-top: 0.2vw;

}
.storage-preview__super_theme__item__lvl2{

	margin-left: 4vw;
	margin-top: 0.2vw;

}


