.header{

    background-color:black;
    height: 4vw;

}
.logout{
    text-decoration: none;
    color:white;
}

.profile{
    text-decoration: none;
    color:white;
}

.reg{
    text-decoration: none;
    color:white;
}
.login{
    text-decoration: none;
    color:white;
}
.search{
    text-decoration: none;
    color:white;
}