h1 {
    display: block;
    text-align: center;
    font-size: 4vw;
}

.wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

@media only screen and (min-width: 400px) {
	.wrapper {
		width: 98%;
	}
	.card{

	    width: 100%;
	    height: 100%;

	}
}

@media only screen and (min-width: 768px) {
	.wrapper {
		width: 16%;
	}
	.card{

	    width: 80%;
	    height: 8vw;

	}
}

@media only screen and (min-width: 1000px) {
	.wrapper {
		width: 12%;
	}
	.card{

	    width: 80%;
	    height: 6vw;

	}
}

.card {
	display: block;
	border-radius: 2vw;
	position: relative;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	min-height: 100px;
	min-width: 100px;
}

.catalog_place{
	margin-left: -20px
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
    border-radius: 2vw;
}

.photo img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.object_title{

    word-break: break-all;
	text-align: center;
	color: black;
	margin-bottom: calc(2vw + 2vh);

}