{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/catalog_style.css' %}">
<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
{% endblock %}
{% block content %}

{% if object.is_private %}
<div>Приватный</div>
{% else %}
<div class="main-container">
    <div class="flex_wrapper">

        <div class="profile_image">
            {% if object.image %}
            <img src="{{object.image.url}}" alt="">
            {% else %}
            <img src="" alt="НЕТУ">
            {% endif %}
        </div>

        <div class="info">
            <div class="name">
                {{object.username}}
            </div>

            <div class="email">
                {{object.email}}
            </div>
            <div class="statistic">
                Статистика:
                <div>полученно:
                    Лайков: {{total_likes_received}}
                    Просмотров: {{total_views_received}}
                    Комментариев: {{total_comments_received}}
                </div>
                <div>поставленно:
                    Лайков: {{total_likes_verb}}
                    Просмотров: {{total_views_verb}}
                    Комментариев: {{total_comments_verb}}
                </div>
                <div class="">
                    Подписчики: {{subscribers_count}}
                    Подписки: {{subscribes_count}}
                </div>

            </div>
        </div>
    </div>

    {% if is_request_user_subscribed %}
    <a href="{% url 'users:unsubscribe' object.pk %}">
        <div class="sub_button">Отписаться</div>
    </a>
    {% else %}
    <a href="{% url 'users:subscribe' object.pk %}">
        <div class="sub_button">Подписаться</div>
    </a>
    {% endif %}
    <div class="catalog_container">
        <div class="container">
            {% if super_theme %}
            <div class="label">Темы</div>
            {% endif %}
            <ul class="catalog_place">
                {% for theme in super_theme %}
                <li class="wrapper">
                    <a href="{% url 'main:open_theme' theme.pk %}">
                        <div id="{{theme.pk}}" class="card">
                            {% if theme.image %}
                            <div class="photo">
                                <img src="{{theme.image.url}}" alt="">
                            </div>
                            {% else %}
                            <div class="photo">
                                <img src="" alt="">
                            </div>
                            {% endif %}
                            <p class="object_title">{{theme.title}}</p>
                            <span class="views">{{theme.views}}</span>
                            <span class="likes">{{theme.likes}}</span>
                            <span class="count_comments">{{theme.count_comments}}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container">
            {% if super_card %}
            <div class="label">Карточки</div>
            {% endif %}
            <ul class="catalog_place">
                {% for card in super_card %}
                <li class="wrapper">
                    <a href="{% url 'main:open_card' card.pk %}">
                        <div id="{{card.pk}}" class="card">
                            {% if card.image %}
                            <div class="photo">
                                <img src="{{ card.image.url }}" alt="">
                            </div>
                            {% else %}
                            <div class="photo">
                                <img src="#" alt="">
                            </div>
                            {% endif %}
                            <p class="object_title">{{card.title}}</p>
                            <span class="views">{{card.views}}</span>
                            <span class="likes">{{card.likes}}</span>
                            <span class="count_comments">{{card.count_comments}}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}