<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="gloabal_search_style.css">
	<title>MINDKEEPER</title>
</head>
<body>
	<div class="header">
		<div class=title><a href="{% url 'main:index' %}">MINDKEPEER</a></div>
		<div class="nav">
				<div class="nav__item"><a href="#">профиль</a></div>
				<div class="nav__item"><a href="{% url 'users:logout' %}">выйти</a></div>
				<div class="nav__item"><a href="{% url 'main:storage' %}">моя картотека</a></div>
				<div class="nav__item"><a href="#">глобальная картотека</a></div>
		</div>
	</div>

	<div>
		<form action="" method='get'>
			<input class="inpute_query" id="inpute_query" type="text" name=query>
		</form>
	</div>

	<ul id="catalog_place" class="catalog_place">
			<li class="wrapper">
				<a href="">
				<div href="" class="card">
					<object>
						<a href="" class="cross	">X</a>
					</object>

					<div class="photo">
						<img src="" alt="">
					</div>
					<p class="object_title">ПРОГРАММИРОВАНИЕ</p>
				</div>
				</a>
			</li>
			<li class="wrapper">
				<a href="">
				<div href="" class="card">
					<div class="photo">
						<img src="" alt="">
					</div>
					<p class="object_title">ПРОГРАММИРОВАНИЕ</p>
				</div>
				</a>
			</li>
			<li class="wrapper">
				<a href="">
				<div href="" class="card">
					<div class="photo">
						<img src="" alt="">
					</div>
					<p class="object_title">ПРОГРАММИРОВАНИЕ</p>
				</div>
				</a>
			</li>
		</ul>

</body>
<script src="script.js"></script>
<script src="https://twitter.github.io/hogan.js"></script>
</html>